{:paths ["src/main" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.0"}
         net.mikera/core.matrix {:mvn/version "0.62.0"}
         org.cloja.cartesiantheatrics/clj-manifold3d {:mvn/version "0.0.12"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
         net.mikera/vectorz-clj {:mvn/version "0.48.0"}
         metosin/malli {:mvn/version "0.11.0"}
         scad-clj/scad-clj {:mvn/version "0.5.3"}}
 :aliases
 {:dev {org.clojars.cartesiantheatrics/manifold3d {:mvn/version "1.0.9"}}}}
