{:paths ["src/main" "resources"]
 :deps  {clj-tf/clj-tf     {:local/root "../clj-tf"}
         scad-clj/scad-clj {:mvn/version "0.5.3"}}
 :aliases
 {:run-m   {:main-opts ["-m" "scad-paths.core"]}
  :run-x   {:ns-default scad-paths.main
            :exec-fn    greet
            :exec-args  {:name "Clojure"}}
  :test    {:extra-paths ["src/test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn    cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot        true
                           :jar        "scad-paths.jar"
                           :main-class "scad-paths.core"
                           :sync-pom   true}}}}
